.list {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

.header {
    background-color: #128cef;
    color: white;
    font-size: 28px;
    padding: 10px;
}

.nav {
    display: flex;
    gap: 15px;
}

.link {
    font-size: 20px;
    color: #b20606;
}

.active {
    color: rgb(229, 234, 228);
}