.movielist {
    display: flex;
    flex-direction: column;
    padding: 20px;
    list-style: none;
    font-weight: 700;
    gap: 10px;
}

.img {
    margin: auto;
    width: 100px;
}

.item {
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 180px;
    height: 200px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}